@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student;
@using UniversityRegistrar.Models;
@using System.Collections.Generic;

<h2>Student Info:</h2>
<hr />
@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)

@if(Model.JoinEntities.Count == 0)
{
  <p>This student currently has no courses on record.</p>
}
else
{
  @foreach(Enrollment join in Model.JoinEntities)
  {
    <ul>
      <li>@join.Course.CourseName</li>
    </ul>
  }
}

<br/>
<p>@Html.ActionLink("Add to Course", "AddCourse", new { id = Model.StudentId } )</p>
<p>@Html.ActionLink("Back to Students", "Index")</p>
