@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student;
@using UniversityRegistrar.Models;
@using System.Collections.Generic;

<h1>Student Info:</h1>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>Department: @Html.DisplayFor(model => model.Department.Name)</h3>

@if(Model.JoinEntities.Count == 0)
{
  <p>This student currently has no courses on record.</p>
}
else
{
  <h3>Enrolled Courses:</h3>
  <ul>
  @foreach(Enrollment join in Model.JoinEntities)
  {
        @using (Html.BeginForm("DeleteEnrollment", "Students"))
        {
          <li>
            <h4>
              @Html.ActionLink(@join.Course.CourseName, "Details", new { id = join.Course.CourseId })
              @Html.Hidden("enrollmentId", @join.EnrollmentId)
              <input type="submit" value="X" class="btn btn-sm btn-x btn-outline-danger" />
            </h4>
          </li>
        }
  }
  </ul>
}

<br/>
<div class="container">
<h5>@Html.ActionLink("Add to Course", "AddCourse", new { id = Model.StudentId } )</h5>
<h5>@Html.ActionLink("Remove Student", "Delete", new { id = Model.StudentId })</h5>
<h5>@Html.ActionLink("Back to Students", "Index")</h5>
</div>